{% extends 'base.html' %}

{% block content %}
{% if empty %}
<h1 style="alogn-center"> {{empty_message}} </h1>

{% else %}


<table class="table">

    <thead>
    <th> 物品 </th>
    <th> 價格 </th>
    <th> 數量 </th>
  
    <th></th>
    </thead>
    <tfoot>
    <td></td>
    <td></td>
    <td></td>
    <td>總金額 : {{ cart.total }}</td>
    </tfoot>

        {% for item in cart.cartitem_set.all %}
        
        <tr>
            <td> {{ item.product }}
                {% if item.variations.all %}
                <ul>
                {% for subitem in item.variations.all %}
                <li>
                {{ subitem.category|capfirst }} : {{ subitem.title|capfirst }}
                </li> 
                {% endfor %}
                </ul>
                {% endif %}
            </td> 
            <td> {{ item.product.price }} </td>
            <td> {{ item.quantity }} </td>
  
            <td><a href='#'> 刪除 </a></td>
        </tr>
        
        {% endfor %}

</table>

{% endif %}
{% endblock content %}