{% extends 'base.html' %}
{% load static %}
{% block title %} 
Welcome to
{% endblock title %}


{% block styles %}
.jumbotron {
    
}
{% endblock styles %}

{% block jQuery %}
//alert("alert test");
{% endblock jQuery %}


{% block jumbotron %}
<div class="container">
  <div class="jumbotron">
      <h1>Navbar example</h1>
      <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser’s viewport.</p>
      <a class="btn btn-lg btn-primary" href="/docs/4.4/components/navbar/" role="button">View navbar docs &raquo;</a>
  </div>
</div>


{% endblock jumbotron %}
{% block content %}


<div class='row'>

  {% for product in products %}
    <div class='col-sm-4'>

      <div class="img-thumbnail">
        {% if product.productimage_set.all %}
            {% for item in product.productimage_set.all %}
            
              {% if item.featured %}
              <img class='img-thumbnail' src="{{ item.image.url }}" />
              {% else %}
              <img class='img-fluid' src="{{ item.image.url }}" />
              {% endif %}

            {% endfor %}
        {% else %}
        <img class="img-fluid" src=" {% static "img/pic.png" %}" /> 
        {% endif %}

          <div class="caption">
            <a href="{{ product.get_absolute_url }}"><h3>{{ product.title }}</h3></a> 
            <p> {{ product.remark|truncatewords:10 }} </p>
            <p>
            <a href="{{ product.get_absolute_url }}" class="btn btn-primary" > View </a>
            <a href="#" class="btn btn-outline-secondary" > Button </a>
            </p>
          
          </div>
      </div>
    </div>

    {% cycle "" "" "" "</div><hr/><div class='row'>" %}

  {% endfor %}
</div>
{% endblock content %}


