{% extends 'base.html' %}


{% block content %}

<div id="container p-3 my-3 border">
    <h1> {{product.title}}  </h1>
</div>

<div class="container-fluid">
    <div id="row no-gutters">
        <div id="col-4">

            {% for img in images %}
            
                {% if img.featured %}
                    <div class='col-sm-12 col-md-6'>
                        <img class='card-img ' src="{{ img.image.url }}" width="300"  />
                    </div>
                {% endif %}
            {% endfor %}
            {% for img in images %}
                {% if not img.featured %}
                    <div class='col-sm-6'>
                    <a href="#" class='card-img '>
                        <img class='img-thumbnail' src="{{ img.image.url }}" width="100"/>
                    </a> 
                    </div> 
                {% endif %}
            {% endfor %}
        </div>
        
        <div id="col-8">
            <div id="col-sm-8 pull-left">
                <hr>
                <h4> {{ product.title }} 
                {% comment %} <a href='{% url "update_cart" product.slug %}' class="float-right"> Add to Cart</a></h4>  {% endcomment %}
            </div>
            <div id="col-sm-8 pull-right"></div>           
                <form class='form' method='GET' action='{% url "update_cart" product.slug %}'>
                <button class="btn btn-primary btn-block mx-sm-3 mb-2" type="submit" >加入購物車</button>
                <input class='form-control mx-sm-3 mb-2' name='qty' type='number' value='1'min="0" />
                <select class='form-control mx-sm-3 mb-2' name='size'>
                    <option value="M">M</option>
                    <option value="L">L</option>
                </select>
                
                
                
                </form>
            </div>
            <div id="col-sm-12">
                <hr>
                Price :{{product.price}} <br>
                運費:免運至2099/12/31
                <hr>
            </div>
            <div id="col-sm-12">
            {{ product.remark|linebreaks }}
            </div>
        </div>
    </div>
</div>


{% endblock content %}